# Easy & Interactive EDA In Python using  D-Tale library

* A great package not only for beginners or experienced analysts. This is another fantastic package to check out, from visualising Pandas data frame structures to plotting charts in your dataset, exporting, filtering etc

#### Installation

```
pip install dtale
```

* After installing the package, load a file in a data frame format and run the following command. You should see an interactive display of your data frame results.

In [10]:
import dtale
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [4]:
df = pd.read_csv('medical_insurance.csv')
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [6]:
dtaledf = dtale.show(df)

dtaledf

We can also do a quick check to cross-refer.

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

we can see various interactive functions at the top of the D-tale output, such as actions, visualise, highlight, and additional settings.

For example, suppose I would like to view the correlation for the variables in this dataset. Simply select Visualize > Correlations.

In [11]:
dtaledf

* Notice the Code Export button on the top-right hand corner? Yes, D-Tale allows you to export the code used to create the plots, etc., for further customisation, even including the imports and useful comments.

* We can also perform some quick EDA of the variables. Select Visualize > Describe.

### Reference:

1. https://github.com/man-group/dtale
2. https://pypi.org/project/dtale/